*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    color:rgb(2, 1, 1);
    background-color: rgb(231, 219, 108);
    overflow: scroll;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.descr-pro  {
  font-size: 100%;
  font-family: 'Oswald', sans-serif;
}
li {
  font-family: 'Oswald', sans-serif;
}
h1 {
    text-transform: uppercase;
    font-size: 500%;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    margin-top:20%;
}

.logo1 {
    position: relative;
    top:-30%;
    right: 6%;
    height: 10%;
    width: 10%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
.logo2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.text {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 25px;
}
.desc {
  color:#272525;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.video {
  margin-bottom: 30%;
  margin-left: 25%;
  width: 50%;
  height: 70%;
  
}
.video-demo {
    border-radius: 15px ;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px black solid;
    box-shadow: 15px 10px 5px #3d3d3d;
}

/* animations */
.circle{
    position: absolute;
    border-radius: 50%;
    background: rgb(43, 35, 158);
    animation: ripple 15s infinite;
  }

  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: 500px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: 400px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: 300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: 200px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: 100px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
  