<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles/stylebike.css"/>

</head>
<body>
    <div class="container-first">
        <h1><span>Bike</span><span>Shop</span></h1>
        <div class="text">
            <p>Site E-commerce "from scratch" :</p>
            <p>Mise en place d'une interface responsive</p>
            <p>Gestion du catalogue produit</p>
            <p>Mise en place d'un panier dynamique</p>
            <p>Intégration d'un moyen de paiement avec Stripe</p>
        </div>
        <img src="/images/assets/javascript.png" alt="javascript" class="logo1">
        <img src="/images/assets/jquery.png" alt="jquery" class="logo1">
        <img src="/images/assets/bootstrap.png" alt="jquery" class="logo1">
    </div>
    <div class="video">
        <video src="/images/assets/demo bikeshop.mp4" alt="demo" class="video-demo" controls></video>
    </div>




    <script src="/javascripts/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script> 
</body>
</html>