<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/assets/codeing.ico" />
    <title>Eric Paoli développeur</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles/discover.css"/>

</head>
<body>
    <!-- ///animation orbes/// -->
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

     <!-- ////////// -->

    <div class="container">
        <div class="row">
            <div class="container-first">
                <h1 class="firstword"><span>Mes</span></h1>
                <h1 class="secondword"><span>Créations</span></h1>
            </div>           
                </div>
            
            <div class="link">
                <a class="boxs" href="/mymails"><img src="/images/assets/mails.png" alt="mymails" class="logo-projet"></a>
                <a class="boxs" href="/bikeshop"><img src="/images/assets/bike.png" alt="" class="logo-projet"></a>
            </div>  
            <div class="link2">   
                <a class="boxs" href="/weather"><img src="/images/assets/weather.png" alt="" class="logo-projet"></a>
                <a class="boxs" href="/blackboard"><img src="/images/assets/blackboard.png" alt="" class="logo-projet"></a>
            </div>     
            <div class="link3">
                <a class="boxs" href="/ticetac"><img src="/images/assets/ticetac.png" alt="" class="logo-projet"></a>
                <a class="boxs" href="/mymovies"><img src="/images/assets/movies.png" alt="" class="logo-projet"></a>
            </div>
            <div class="link4">
                <a class="boxs" href="/morningnews"><img src="/images/assets/news.png" alt="" class="logo-projet"></a>
                <a class="boxs" href="/locapic"><img src="/images/assets/locapic.png" alt="" class="logo-projet8"></a>
            </div>
            <div class="link5">
                <a class="boxs" href="/faceup"><img src="/images/assets/faceup.png" alt="" class="logo-projet"></a>
                <a class="boxs" href="/geotrash"><img src="/images/assets/smalogo.png" alt="" class="logo-projet"></a>
            </div>    
                      
    </div>


        <script src="/javascripts/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>