<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles/stylegeotrash.css"/>

</head>
<body>
    <div class="container-first">
        <h1><span>Geo</span><span>Trash</span></h1>
        <div class="text">
            <p>Application mobile qui permet de géolocaliser les poubelles et bac de tri à proximité dans un but éco responsable et de sensibilisation des gens :</p>
            <p>Mise en place d'une carte interactive</p>
            <p>Permet de se géolocaliser et de localiser poubelles et bacs de tri</p>
            <p>Mise en place d'un générateur de challenge aléatoire</p>
            <p>Mise en place d'un calculateur de distance</p>
            <p>Mise en place d'un compte à rebours pour effectuer la mission </p>
            
        </div>
        <img src="images//assets/reactnative.png" alt="react" class="logo1">
        <img src="images//assets/api.png" alt="api" class="logo1">
        <img src="images//assets/expo.png" alt="expo" class="logo1">
        <img src="images//assets/socket.png" alt="socket" class="logo1">
        <img src="images//assets/faceapi.png" alt="ajax" class="logo1">
    </div>
    <div class="video">
        <video src="/images/assets/demo geotrash.mp4" alt="demo" class="video-demo" controls></video>
    </div>




    <script src="/javascripts/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script> 
</body>
</html>