<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/assets/codeing.ico" />
    <title>Eric Paoli développeur</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles/style.css"/>

</head>
<body>
    <!-- ///animation orbes/// -->
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

     <!-- ////////// -->

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-10 col-md-8 col-lg-8 col-xl-12 container-first">
                <h1><span>Eric </span><span>Paoli </span></h1>
                <h2><span>développeur </span><span>web </span><span>full stack </span></h2>
            
                <div class="col-xs-4 col-sm-10 col-md-8 col-lg-8 col-xl-12 container-btns">
                    <button class="d-lg-none btn-first b1">Discover</button>
                    <button class="btn-first b2"  aria-haspopup="dialog" aria-controls="dialog">Contact</button>
                </div>
        </div>           
                    <div 
                    id="dialog"
                    role="dialog" 
                    aria-labelledby="dialog-title" 
                    aria-describedby="dialog-desc"
                    aria-modal="true"
                    aria-hidden="true"
                    tabindex="-1" 
                    class="c-dialog">
                        <div role="document" class="c-dialog__box">
                            <h2 id="dialog-title">comment me contacter ?</h2>
                            <p id="dialog-desc"><img src="../images/assets/phone.png" class="boot"> 07.68.05.47.07</p>
                            <p id="dialog-desc"><img src="../images/assets/linkedin.png" class="boot"> Eric Paoli</p>
                            <p id="dialog-desc"><img src="../images/assets/email.png" class="boot">ericpaoli65@gmail.com</p>
                            <p id="dialog-desc"><img src="../images/assets/github.png" class="boot">ericp84</p>
                        </div>
                    </div>
                </div>
            
            <ul class=" d-none d-lg-flex boxes">
                <li class="box" id="link" ><a href="/mymails"><img src="/images/assets/mails.png" alt="mymails" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/bikeshop"><img src="/images/assets/bike.png" alt="" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/weather"><img src="/images/assets/weather.png" alt="" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/blackboard"><img src="/images/assets/blackboard.png" alt="" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/ticetac"><img src="/images/assets/ticetac.png" alt="" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/mymovies"><img src="/images/assets/movies.png" alt="" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/morningnews"><img src="/images/assets/news.png" alt="" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/locapic"><img src="/images/assets/locapic.png" alt="" class="logo-projet8"></a></li>
                <li class="box" id="link" ><a href="/faceup"><img src="/images/assets/faceup.png" alt="" class="logo-projet"></a></li>
                <li class="box" id="link" ><a href="/geotrash"><img src="/images/assets/smalogo.png" alt="" class="logo-projet"></a></li>
            </ul>
            <img src="/images/assets/logo.png" class="logo">

            <ul class="d-none d-lg-block medias">
                <li class="bulle"><img src="/images/assets/fb.png" alt="" class="logo-medias"></li>
                <li class="bulle"><img src="/images/assets/insta.png" alt="" class="logo-medias"></li>
                <li class="bulle"><img src="/images/assets/yt.png" alt="" class="logo-medias"></li>
            </ul>
            
    </div>


        <script src="/javascripts/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>