<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles/style.css"/>

</head>
<body>
    <!-- ////// -->
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
     </div>
     <!-- ////////// -->
    <div class="lign">
        <div class="l1"></div>
        <div class="l2"></div>
    </div>

    <div class="container-first">
            <h1><span>Eric </span><span>Paoli </span><span>développeur </span><span>web </span><span>full stack </span></h1>
            <div class="container-btns">
                <button class="btn-first b1">Discover</button>
                <button class="btn-first b2">Contact</button>
            </div>
    </div>
    <ul class="box">
        <li class="box1" id="link" ><a href="mymails.html"><img src="./assets/mails.png" alt="mymails" class="logo-projet"></a></li>
        <li class="box2" id="link" ><a href="bikeshop.html"><img src="./assets/bike.png" alt="" class="logo-projet"></a></li>
        <li class="box3" id="link" ><a href="weather.html"><img src="./assets/weather.png" alt="" class="logo-projet"></a></li>
        <li class="box4" id="link" ><a href="blackboard.html"><img src="./assets/blackboard.png" alt="" class="logo-projet"></a></li>
        <li class="box5" id="link" ><a href="ticetac.html"><img src="./assets/ticetac.png" alt="" class="logo-projet"></a></li>
        <li class="box6" id="link" ><a href="mymovies.html"><img src="./assets/movies.png" alt="" class="logo-projet"></a></li>
        <li class="box7" id="link" ><a href="morningnews.html"><img src="./assets/news.png" alt="" class="logo-projet"></a></li>
        <li class="box8" id="link" ><a href="locapic.html"><img src="./assets/locapic.png" alt="" class="logo-projet8"></a></li>
        <li class="box9" id="link" ><a href="faceup.html"><img src="./assets/faceup.png" alt="" class="logo-projet"></a></li>
        <li class="box10" id="link" ><a href="geotrash.html"><img src="./assets/smalogo.png" alt="" class="logo-projet"></a></li>
    </ul>
    <img src="./assets/logo.png" class="logo">

    <ul class="medias">
       <li class="bulle"><img src="./assets/fb.png" alt="" class="logo-medias"></li>
       <li class="bulle"><img src="./assets/insta.png" alt="" class="logo-medias"></li>
       <li class="bulle"><img src="./assets/yt.png" alt="" class="logo-medias"></li>
    </ul>


    <script src="./app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
</body>
</html>