<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles/style.css"/>

</head>
<body>
    <!-- ////// -->
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
     </div>
     <!-- ////////// -->
    <div class="lign">
        <div class="l1"></div>
        <div class="l2"></div>
    </div>

    <div class="container-first">
            <h1><span>Eric </span><span>Paoli </span><span>développeur </span><span>web </span><span>full stack </span></h1>
            <div class="container-btns">
                <button class="btn-first b1">Discover</button>
                <button class="btn-first b2"  aria-haspopup="dialog" aria-controls="dialog">Contact</button>
                <div 
      id="dialog"
      role="dialog" 
      aria-labelledby="dialog-title" 
      aria-describedby="dialog-desc"
      aria-modal="true"
      aria-hidden="true"
      tabindex="-1" 
      class="c-dialog">
      <div role="document" class="c-dialog__box">

        <h2 id="dialog-title">comment me contacter ?</h2>
        <p id="dialog-desc"><img src="../images/assets/phone.png" class="boot"> 07.68.05.47.07</p>
        <p id="dialog-desc"><img src="../images/assets/linkedin.png" class="boot"> Eric Paoli</p>
        <p id="dialog-desc"><img src="../images/assets/email.png" class="boot">ericpaoli65@gmail.com</p>
        <p id="dialog-desc"><img src="../images/assets/github.png" class="boot">ericp84</p>

      </div>
    </div>
            </div>
    </div>
    <ul class="boxes">
        <li class="box" id="link" ><a href="/mymails"><img src="/images/assets/mails.png" alt="mymails" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/bikeshop"><img src="/images/assets/bike.png" alt="" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/weather"><img src="/images/assets/weather.png" alt="" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/blackboard"><img src="/images/assets/blackboard.png" alt="" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/ticetac"><img src="/images/assets/ticetac.png" alt="" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/mymovies"><img src="/images/assets/movies.png" alt="" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/morningnews"><img src="/images/assets/news.png" alt="" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/locapic"><img src="/images/assets/locapic.png" alt="" class="logo-projet8"></a></li>
        <li class="box" id="link" ><a href="/faceup"><img src="/images/assets/faceup.png" alt="" class="logo-projet"></a></li>
        <li class="box" id="link" ><a href="/geotrash"><img src="/images/assets/smalogo.png" alt="" class="logo-projet"></a></li>
    </ul>
    <img src="/images/assets/logo.png" class="logo">

    <ul class="medias">
       <li class="bulle"><img src="/images/assets/fb.png" alt="" class="logo-medias"></li>
       <li class="bulle"><img src="/images/assets/insta.png" alt="" class="logo-medias"></li>
       <li class="bulle"><img src="/images/assets/yt.png" alt="" class="logo-medias"></li>
    </ul>


    <script src="/javascripts/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
</body>
</html>