<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles/stylelocapic.css"/>

</head>
<body>
    <div class="container-first">
        <h1><span>Loca</span><span>Pic</span></h1>
        <div class="text">
            <p>Application mobile qui permet de se géolocaliser et de suvre l'historique de nos déplacements, elle permet aussi de chatter avec les utilisateurs connectés à l'application :</p>
            <p>Utiliser l'environnement Expo pour déployer vos app sur les mobiles.</p>
            <p>Comprendre la mise en page avec Flexbox avec React Native.</p>
            <p>Mettre en place une navigation pour mobile avec React Navigation.</p>
            <p>Intégrer une Map interactive sous React Native.</p>
            <p>Mettre en place un système de géolocalisation.</p>
            <p>Comprendre le concept des WebSockets en mettant en place un chat.</p>
            <p>Savoir créer des expressions rationnelles.</p>
            <p>Mettre en place un système de stockage local (Local Storage.)</p>
        </div>
        <img src="/images/assets/reactnative.png" alt="react" class="logo1">
        <img src="/images/assets/api.png" alt="api" class="logo1">
        <img src="/images/assets/expo.png" alt="expo" class="logo1">
        <img src="/images/assets/socket.png" alt="socket" class="logo1">
        <!-- <img src="./assets/reactnativemaps.png" alt="ajax" class="logo5"> -->
    </div>
    <div class="video">
        <video src="/images/assets/demo locapic.mp4" alt="demo" class="video-demo" controls></video>
    </div>




    <script src="/javascripts/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script> 
</body>
</html>