<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles/stylemorning.css"/>

</head>
<body>
    <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle mediun shade4"></div>
        <div class="circle small shade5"></div>
    </div>
    <div class="container-first">
        <h1><span>Morning</span><span>News</span></h1>
        <div class="text">
            <p>Application web qui permet d'afficher les news actualisées et les placer dans une wishlist pour les sauvegarder en base de données et les lire plus tard :</p>
            <p>Mise en place d'une interface responsive</p>
            <p>Mettre en place un système d’identification Sign in/Sign up.</p>
            <p>Mettre en place une navigation avec le système des routes dans React.</p>
            <p>Manipuler les champs de saisie dans React.</p>
            <p>Utiliser Redux pour faciliter l’échange de données.</p>
            <p>Mettre en place une identification sécurisée.</p>
            <p>Utiliser les fonctions arrow.</p>
        </div>
        <img src="/images/assets/react.png" alt="react" class="logo1">
        <img src="/images/assets/api.png" alt="api" class="logo1">
        <img src="/images/assets/bootstrap.png" alt="bootstrap" class="logo1">
        <img src="/images/assets/mongodb.png" alt="mongodb" class="logo1">
        <img src="/images/assets/redux.png" alt="ajax" class="logo1">
    </div>
    <div class="video">
        <video src="/images/assets/demon morningnews.mp4" alt="demo" class="video-demo" controls></video>
    </div>




    <script src="/javascripts/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script> 
</body>
</html>