<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles/styleweather.css"/>

</head>
<body>
    <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle mediun shade4"></div>
        <div class="circle small shade5"></div>
    </div>
    <div class="container-first">
        <h1><span>Weather</span><span>App</span></h1>
        <div class="text">
            <p>Application web permettant d'afficher la météo d'une ville sur une carte dynamique :</p>
            <p>-Mise en place d'une interface responsive</p>
            <p>-Mise en place d'un système de login</p>
            <p>-Afficher les informations météorologiques d’une ville en temps réel</p>
            <p>-Enregistrer durablement les informations d’un utilisateur (même après une coupure du serveur.)</p>
            <p>-Mettre en place une carte interactive matérialisant des villes saisies.</p>
        </div>
        <img src="/images/assets/javascript.png" alt="javascript" class="logo1">
        <img src="/images/assets/api.png" alt="api" class="logo1">
        <img src="/images/assets/bootstrap.png" alt="bootstrap" class="logo1">
        <img src="/images/assets/mongodb.png" alt="mongodb" class="logo1">
    </div>
    <div class="video">
        <video src="/images/assets/demo weatherapp.mp4" alt="demo" class="video-demo" controls></video>
    </div>




    <script src="/javascripts/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script> 
</body>
</html>